body{
  margin: 0;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}
header{
  display: flex;
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
}
.logo{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
header img{
  height: 50px;
  padding-left: 10px;
}
nav span{
  padding: 20px 15px;
  display:inline-block;
}
nav{
text-align: right;
flex-grow: 1;
display: block;
}

#Mission{
  background-image: url("../imagen/img-mission-background.jpg");
  height: 700px;
  padding-top: 69px;
  margin:0 40px;
}
.foto-grande{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.textouno{
  background-color: black;
  width: 100%;
  margin: auto;
}

#Featured{
width: 1000px;
height: 700px;
padding-top: 70px;
margin: auto;
}
.dibujo{
  padding: 5px;
}
.flex-fotos{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.dibujo img{
  height: 200px;
  margin: 10px;
  display: block;
}
.dibujo span{
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}


#Locations{
  background-image: url("../imagen/img-locations-background.jpg");
  height: 500px;
  display: block;
  padding-top: 50px;
  margin: 40px 40px;
  border: 1px;
}
.flex-gps{
  display: flex;
 padding-top: 5px;
 justify-content: center;
 flex-wrap: wrap;
}
.ubicacion{
  background-color: black;
  width:300px;
  margin: 5px 20px;
  padding: 15px 40px 0 0;
  opacity: 1;
  flex-direction: column;
  justify-content: center;
}

#correo{
  display: block;
  height: 200px;
}
footer{
  text-align: left;
  padding-left: 20px;
}
